<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<style>

  body{
    font-size: 30px;
    background-color: #eff4ec;
  } 
  .form-group{
    text-align: center;
  }
  .labeled{
    text-align: center;
    color: #F19025;
    
  }

  .btnbox{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
  }

  .big-button{
    font-size: 20px;

  }
  .primaryColor{
    background-color:  #F19025;
    transition: all 700ms ease;
  }

  .primaryColor:hover{
    scale: 1.2;
  }
  .secondaryColor{
    background-color: #364330;
    transition: all 700ms ease;
  }
  .secondaryColor:hover{
    scale: 1.2;
  }

</style>
<body style="display:flex; align-items: center;">

  <div class="container-fluid">
    <div class="row vertical-center">
      <form action="/admin/addcommodity" method="POST">

        <div class="form-group">
          <label for="name" class="labeled">COMMODITY </label>
          <input type="name" id="name" name="name" style="text-transform: lowercase" placeholder="commodity name here" required class="form-control" />
        </div>

        <div class="form-group">
          <label for="price" class="labeled">PRICE </label>
          <input type="number" id="pice" name="price" placeholder="commodity price here" required class="form-control" />
        </div>
        
        <div class="btnbox"><button type="submit" class="btn primaryColor big-button">ADD</button> <a href="/admin" role="button"class="btn secondaryColor big-button">HOME</a></div> 
      </form>
    </div>
  </div>


</body>
