<html>
    <body>
        <form action="/admin/login" method="POST" >
            <div>
                <label for="username">USERNAME</label>
                <input type="name" id="username" name="username" placeholder="Enter Username" required />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password"
                    placeholder="Enter Password" required/>
            </div>
            <button type="submit">Login</button>

        </form>
    </body>
</html>