
<body>
  <div>

    <form action="/edit" method="POST">
  
      <% if(commodities.length > 0){  %>

       
          <% commodities.forEach(commod=>{ %>

        <div>
          <label for="<%= commod.name %>">  <%= commod.name %></label>
          <input type="name" id="<%= commod.name %>" name="<%= commod.name %>"  placeholder="Enter price" required/>
        <div> 
        
  
      <% }) %> 
  
      <% } else { %>
  
      <p>no commodity to display</p>

      <% } %>
  
    </table>

        <button type="submit" class="btn btn-primary btn-block">
          update
        </button>
      </form>
</div>
</body>
</html>
