<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>

    <form action="/edit" method="POST">
  
      <% if(commodities.length > 0){  %>

       
          <% commodities.forEach(commod=>{ %>

        <div>
          <label for="<%= commod.name %>">  <%= commod.name %></label>
          <input type="name" id="<%= commod.name %>" name="<%= commod.name %>"  placeholder="Enter price" required/>
        <div> 
        
  
      <% }) %> 
  
      <% } else { %>
  
      <p>no commodity to display</p>

      <% } %>
  
    </table>

        <button type="submit" class="btn btn-primary btn-block">
          update
        </button>
      </form>
</div>
</body>
</html>
